/* @media all and (max-width: 350px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 75px;
        align-items: center;
        align-content: center;
        background-color: darkgray;
    }
    a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin: auto;
    }
    button {
        padding: 10px 15px 10px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: auto;
        background-color: lightgray;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-flow: column;
    }
} */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
header {
    width: 100%;
    max-width: 700px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* margin: 30px 40px 30px 40px; */
}
.gameBoard {
    margin: auto;
    max-width: 400px;
    max-height: 400px;
    width: 100vw;
    height: 100vw;
    border: 1px solid white;
    background-color: grey;
}
button {
    padding: 10px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    background-color: lightgray;
}
#start {
    margin-top: 20px;
}
.easy {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.medium {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.hard {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}
.ludicrous {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three {
    background-color: blue;
}
.four { 
    background-color: yellow;
}
.five {
    background-color: indigo;
}
.six {
    background-color: olive;
}
.seven {
    background-color: goldenrod;
}
.eight {
    background-color: dodgerblue;
}
.nine {
    background-color: deeppink;
}
.ten {
    background-color: khaki;
}
.active {
    filter: brightness(200%);
}
#levelBox {
    height: 10vh;
    max-height: 50px;
    max-width: 200px;
    width: 50vw;
    background-color: floralwhite;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.cell {
    width: 100%;
    height: 100%;
    border: 15px solid grey;
    box-sizing: border-box;
    border-radius: 50%;
}
.cell:active {
    filter: brightness(200%);
}
body {
    background-color: black;
}
#level {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#modal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(211,211,211,.3);
}
#modalBox {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#tryAgain {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(211,211,211,.3);
}
#tryAgainBox {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    width: 85%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
#closeBtn {
    margin-top: 50px;
}
#openBtn {
    display: none;
    margin-top: 50px;
}
