main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 30px 40px 30px 40px;
}
.gameBoard {
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    background-color: grey;
}
button {
    padding: 10px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
}
#start {
    margin-top: 20px;
}
.easy {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.medium {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.hard {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}
.ludicrous {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three {
    background-color: blue;
}
.four { 
    background-color: yellow;
}
.five {
    background-color: indigo;
}
.six {
    background-color: olive;
}
.seven {
    background-color: goldenrod;
}
.eight {
    background-color: dodgerblue;
}
.nine {
    background-color: deeppink;
}
.ten {
    background-color: khaki;
}
.active {
    filter: brightness(200%);
}
#levelBox {
    height: 60px;
    width: 200px;
    background-color: floralwhite;
    margin-bottom: 20px;
}
.cell {
    width: 100%;
    height: 100%;
    border: 15px solid grey;
    box-sizing: border-box;
    border-radius: 50%;
}
.cell:active {
    filter: brightness(200%);
}
body {
    background-color: black;
}
#level {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: lightgrey; */
    background-color: rgba(211,211,211,.4);
}
#modalBox {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modalBox > p {
    width: 85%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#modalBox > h1 {
    font-family: Arial, Helvetica, sans-serif;
}
#closeBtn {
    margin-top: 50px;
}
#openBtn {
    display: none;
    margin-top: 50px;
}
